/*! basic responsive css for modx evo manager themes */



/* basic responsive grid */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media screen and (min-width: 980px) {
  .grid-960 {
    width: 98rem;
  }
}
@media screen and (min-width: 500px) {
  .grid-480 {
    width: 50rem;
  }
}
.columns {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin-left: -1rem;
  margin-right: -1rem;
}
.columns.col-gapless {
  margin-left: 0;
  margin-right: 0;
}
.columns.col-gapless .column {
  padding-left: 0;
  padding-right: 0;
}
.columns.col-multiline {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1rem;
}
.column.col-12,
.column.col-11,
.column.col-10,
.column.col-9,
.column.col-8,
.column.col-7,
.column.col-6,
.column.col-5,
.column.col-4,
.column.col-3,
.column.col-2,
.column.col-1 {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}

@media screen and (min-width: 960px) {
  .col-lg-12,
  .col-lg-11,
  .col-lg-10,
  .col-lg-9,
  .col-lg-8,
  .col-lg-7,
  .col-lg-6,
  .col-lg-5,
  .col-lg-4,
  .col-lg-3,
  .col-lg-2,
  .col-lg-1 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
@media screen and (min-width: 841px) {
  .form-horizontal {
    padding: 1rem;
  }
  .form-horizontal .form-group {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
  }
  .form-horizontal .form-label {
    margin-bottom: 0;
    padding: .8rem .4rem;
  }
  .form-horizontal .form-checkbox,
  .form-horizontal .form-radio {
    margin: .5rem 0;
  }
}
@media screen and (max-width: 959px) {
  .columns {
    display: block;
  }
  .columns .column {
    width: 100%;
  }
}
/*forms*/
.form-label {
  display: block;
  line-height: 1.6rem;
  margin-bottom: .5rem;
}
.form-checkbox input,
.form-radio input,
.form-switch input {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.form-checkbox input:focus + .form-icon,
.form-radio input:focus + .form-icon,
.form-switch input:focus + .form-icon {
  box-shadow: 0 0 .3rem .1rem #efefef;
}
.form-checkbox,
.form-radio {
  cursor: pointer;
  display: inline-block;
  line-height: 1.8rem;
  padding: .3rem 2rem;
  position: relative;
}
.form-checkbox .form-icon,
.form-radio .form-icon {
  border: .1rem solid #c5c5c5;
  display: inline-block;
  font-size: 1.4rem;
  height: 1.4rem;
  left: 0;
  line-height: 2.4rem;
  outline: none;
  padding: 0;
  position: absolute;
  top: .5rem;
  transition: all .15s ease;
  vertical-align: top;
  width: 1.4rem;
}
.form-checkbox:hover .form-icon,
.form-radio:hover .form-icon {
  border-color: #9f9f9f;
}
.form-checkbox input:checked + .form-icon,
.form-radio input:checked + .form-icon {
  background: #5764c6;
  border-color: #5764c6;
}
.form-checkbox .form-icon {
  border-radius: .2rem;
}
.form-checkbox input:checked + .form-icon::after {
  background-clip: padding-box;
  border: .2rem solid #fff;
  border-left-width: 0;
  border-top-width: 0;
  content: "";
  height: 1rem;
  left: 50%;
  margin-left: -.3rem;
  margin-top: -.6rem;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: .6rem;
}
.form-radio .form-icon {
  border-radius: .7rem;
}
.form-radio input:checked + .form-icon::after {
  background: #fff;
  border-radius: .2rem;
  content: "";
  height: .4rem;
  left: 50%;
  margin-left: -.2rem;
  margin-top: -.2rem;
  position: absolute;
  top: 50%;
  width: .4rem;
}
.form-switch {
  cursor: pointer;
  display: inline-block;
  line-height: 1.8rem;
  padding: .0rem 2rem .3rem 2.4rem;
  position: relative;
}
.form-switch .form-icon {
  background: #e77755;
  background-clip: padding-box;
  border: .1rem solid #bc3423;
  border-radius: .9rem;
  display: inline-block;
  height: 1.0rem;
  left: 0;
  line-height: 1.4rem;
  outline: none;
  padding: 0;
  position: absolute;
  top: .4rem;
  vertical-align: top;
  width: 1.8rem;
}
.form-switch .form-icon::after {
  background: #fff;
  border-radius: .8rem;
  content: "";
  display: block;
  height: 1.0rem;
  left: 0;
  position: absolute;
  top: 0;
  transition: left .15s ease;
  width: 1.0rem;
}
.form-switch input:checked + .form-icon {
  background: #6dbe3e;
  border-color: #579832;
}
.form-switch input:checked + .form-icon::after {
  left: 0.8rem;
}
/* utility */
.nomargin {margin:0;}
.nopadding {padding:0;}
.padding-5 {padding:5px;}
.padding-10 {padding:10px;}
.padding-15 {padding:15px;}
.padding-20 {padding:20px;}

/*responsive theme*/
/*.sectionBody input.inputBox[type=text], .sectionBody select.inputBox, form textarea*/

.sectionBody div#tabGeneral input.inputBox[type=text], .sectionBody div#tabGeneral select.inputBox, form div#tabGeneral textarea {width:91%!important}
form div#tabGeneral textarea {
height:200px; 
width:91%!important; 
line-height:1.5}


@media screen and (max-width: 800px) {
.hidden-mobile{
display:none
}
}
@media screen and (min-width: 800px) {
.actionButtons a i{
display:none
}
}
@media screen and (min-width: 800px) {
.actionButtons a i.iconvisible{
display:inline
}
}