/*import styles  from MODxFLAT Theme */

@import url(../MODxFLAT/fontaw/css/font-awesome.min.css);
@import url(../MODxFLAT/style.css);

/*******color*******/
/*base color yellow #f4c84f ***/

h1:before, .tab-pane ul li ul li:before, .tab-pane ul li ul li strong, .dynamic-tab-pane-control .tab-row .tab.selected span, form h1:before, .dashboard h1:before, .dashboard-block-content ul li a, .treeButton i, .treeButtonDisabled i, #nav a:hover, .dashrow
ul li span a, #nav li a:hover {
    color: #f4c84f!important;
}

input[type="button"], input[type="submit"], .sectionHeader, .tab-pane ul li strong, #nav li.active, #nav li.active ul.subnav, #nav li.active ul.subnav a, #mx_contextmenu #nameHolder{
background:#f4c84f!important; 
}
.dashboard-block-full a.hometblink img{
border-color: #f4c84f!important
}
/* nav active state*/
#nav li.active, #nav li.active a:hover, #nav li.active ul.subnav a:hover {
	color:#FFFFFF!important;
}

.tab-pane ul li ul li strong {
	background:transparent!important;
}
/*subnab color links*/
#nav li.active ul.subnav a{color:#232323!important;}

/*color text in section header*/
.sectionHeader {color:#232323!important;}

/*tree menu*/
.treeNodeHover .publishedNode, .treeNodeSelected .publishedNode {
 color: #FFFFFF!important;
}
.publishedNode{
    color: #f4c84f!important;
}
